.header{
    font-family: monospace;
    font-weight: 70;
    font-size: 40px;
    margin-top: 20px;
}


.my-form{
    width: 60%;
    margin: 30px auto 0 auto;
}

.button{
    margin-top: 10px;
}

.greeting{
    font-family: monospace;
    font-weight: bold;
    font-size: 30px;
}

.time{
    font-family: monospace;
    font-weight: 70;
    font-size: 15px;
}

.detail{
    margin-top: 10px;
    font-family: monospace;
    font-size: 12px;
}

.log-detail{
    font-family: monospace;
    font-size: 12px;
    margin: -5px auto;
    color: rgb(57, 255, 57);
}

.log-header{
    font-family: monospace;
    font-weight: bold;
    align-content: left;
    font-size: 20px;
    color: rgb(57, 255, 57);
}

.footer{
    margin: 20px 0;
}

.no-event{
    color: white;
}

.log{
    background-color: rgb(104, 104, 104);
    padding: 10px 0;
    width: 60%;
    height: 500px; 
    overflow-y: scroll;
    margin: 10px auto;
    border-radius: 10px;
}

.mybtn{
    margin-top: 10px;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    box-shadow:  inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    height: 10px;
    background:rgba(57, 255, 57,0.8); 
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(57, 255, 57,0.4); 
}